In [ ]:
import findspark
findspark.init()

import pyspark

# Enunciado

1)    Nintendo  of  America  (EEUU)  tiene 
información 
de  ventas  de  videojuegos 
físicas mensuales totalizadas en EEUU
las  cuales  se  realizan  en  cadenas  de 
tiendas  de  videojuegos  en  el  siguiente 
RDD:  `(id_videojuego,  id_tienda,  mes, 
anio, total_ventas_mensuales)`.  
Por  otro  lado  tenemos  un  RDD  con 
información  de  las  tiendas  y  de  su 
ubicación  `(id_tienda,  direccion,  latitud, 
longitud, 
codigo_postal, 
estado)`.
Con   esta   información   escribir   un 
programa  en  pySpark  para  **obtener  la 
tienda  que  realizó  menor  cantidad  de 
ventas en el estado de “Georgia” en todo 
el año 2017**.   (\*\*\*) (15 pts)

---

# Filtro a los datos que me interesan

Me quedo con los datos de 2017 en el rdd de videojuegos:

```
videojuegos_rdd = videojuegos_rdd.filter(videojuegos_rdd.anio == 2017)
```

Me quedo con los datos de Georgia en el rdd de tiendas:

```
tiendas_rdd = tiendas_rdd.filter(tiendas_rdd.estado == 'Georgia')
```

# Paso rdds a formato (K,V)

Es importante pasarlos a este formato **antes de hacer algún join**.
De paso me quedo con los datos que me interesan.

```
videojuegos_rdd = videojuegos_rdd.map(lambda x: (x[1],x[4])) # ('id_tienda','total_ventas_mensuales')
tiendas_rdd = tiendas_rdd.map(lambda x: (x[0],1))            # ('id_tienda',1)
```

# Realizo el join

Hago un inner join, ya que me interesa aquellas tiendas que se encuentran en ambos rdd (cumplen las dos condiciones pedidas y además de que me interesan las que hicieron alguna venta nada más que son las que tengo en el rdd mal llamado `videojuegos_rdd`)

```
rdd = tiendas_rdd.join(videojuegos_rdd)
```

Nos devuelve un rdd con el formato: `('tienda_id,('total_ventas_mensuales',1))`

# Obtengo la que realizó menor ventas

**OJO**: nos piden la de menor ventas, por lo que vamos a usar un `reduce` por algún lado. **No ordenar según ventas y tomar el menor**

```
rdd.reduce(lambda x,y: x if (x[1][0] < y[1][0]) else y)\
   .collect()
```

No estoy segura de que esto está bien.