In [23]:
%matplotlib inline

import pandas as pd
from matplotlib import pyplot as plt

# Enunciado

2) Tenemos un dataframe con la información de distintas playl
ists 
armadas por usuarios con el formato (playlist, song_id, 
description). A su vez, contamos con un dataframe de canciones 
que contiene (song_id, singer, year, lenght, genres). 
Se pide generar un programa en Pandas que indique para cada 
playlist cual es el cantante predominante (con mas canciones 
incluidas dentro de esa lista). (**) (15 pts)

# Creación de datos

In [24]:
d = {'playlist': [0, 0, 0, 1, 1, 2], 'song_id': [0, 1, 1, 2, 1, 2], 'descripcion': [0, 0, 0, 1, 1, 2]}
playlists = pd.DataFrame(d)
playlists

   descripcion  playlist  song_id
0            0         0        0
1            0         0        1
2            0         0        1
3            1         1        2
4            1         1        1
5            2         2        2

In [25]:
d = {'song_id': [0, 1, 2], 'singer': ['Juan', 'Raul', 'Carlos'], 'year': [2018, 2018, 2017], 'lenght': [1, 1, 1], 'genres': [0, 1, 2]}
canciones = pd.DataFrame(d)
canciones

   genres  lenght  singer  song_id  year
0       0       1    Juan        0  2018
1       1       1    Raul        1  2018
2       2       1  Carlos        2  2017

# Cantante predominante para cada playlist

In [26]:
# Junto dfs
joined = playlists.join(canciones.set_index('song_id'), on = 'song_id' )
joined

   descripcion  playlist  song_id  genres  lenght  singer  year
0            0         0        0       0       1    Juan  2018
1            0         0        1       1       1    Raul  2018
2            0         0        1       1       1    Raul  2018
3            1         1        2       2       1  Carlos  2017
4            1         1        1       1       1    Raul  2018
5            2         2        2       2       1  Carlos  2017

In [55]:
# Calculo cantante predominante por playlist
#joined.groupby('playlist').singer.value_counts().idxmax()
#joined.groupby('playlist').singer.agg(lambda x:x.value_counts().index[0])
joined.groupby(['playlist', 'singer']).size().reset_index().sort_values(0, ascending = False).drop_duplicates('playlist')

   playlist  singer  0
1         0    Raul  2
2         1  Carlos  1
4         2  Carlos  1

In [37]:
time(joined.groupby('playlist').singer.agg(lambda x:x.value_counts().index[0]))

CPU times: user 3.3 ms, sys: 0 ns, total: 3.3 ms
Wall time: 3.13 ms

playlist
0      Raul
1    Carlos
2    Carlos
Name: singer, dtype: object

In [38]:
time(joined.groupby('playlist').singer.value_counts())

CPU times: user 1.82 ms, sys: 527 µs, total: 2.35 ms
Wall time: 2.06 ms

playlist  singer
0         Raul      2
          Juan      1
1         Carlos    1
          Raul      1
2         Carlos    1
Name: singer, dtype: int64